table.dataTable tbody tr.selected {
    background-color: rgb(173, 200, 235) !important;
}

table.dataTable tbody tr.even.selected .sorting_1 {
    background-color: rgb(173, 200, 235) !important;
}

table.dataTable tbody tr.odd.selected .sorting_1 {
    background-color: rgb(173, 200, 235) !important;
}

.dataTables_filter {
    float: left !important;
    margin-left: 2% !important;
    margin-top: 3% !important;
    margin-bottom: 2% !important;
 }

 .dataTables_paginate {
    float: right !important;
    margin-right: 2% !important;
    margin-top: 3% !important;
    margin-bottom: 2% !important;
 }

 .dataTables_length {
    float: left !important;
    margin-left: 2% !important;
    margin-top: 3% !important;
    margin-bottom: 2% !important;
 }

 .dataTables_info {
    float: right !important;
    margin-right: 2% !important;
    margin-top: 3% !important;
    margin-bottom: 2% !important;
 }

 .dataTables_wrapper div.dataTables_info {
    padding-top: 0em !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current {
    background: #007bff !important; 
    color: white !important;
    border-radius: 4px !important;
    border: 1px solid #828282 !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #007bff !important;
    color: white !important;
    border-radius: 4px !important;
    border: 1px solid #828282 !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button {
    background: white !important;
    color: #007bff !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover {
    background: white !important;
    color: #666 !important;
  }

  .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: #F5F5F5 !important;
    color: #007bff !important;
    border-radius: 4px;
    border: 1px solid #828282;
  }